<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Rens member</title>
  </head>
  <body>
    <h1>Welcome Rens member</h1>
    <a href="/logout">Sign out</a>
    <p>Hi, <%= user.name %></p>

    <img src="<%= user.picture %>" alt="" />
  </body>
</html>
